* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

.container {
    position: relative;
    background-image: linear-gradient(rgba(94, 86, 86, 0.308), rgba(63, 27, 27, 0.877)), url(../img/pic01.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10rem;
}

.container-inner {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 1.5rem;
    margin-top: 7rem;
    margin-left: 2rem;
    color: aliceblue;
    text-transform: uppercase;

}

.countdown {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    margin-left: -0.5rem;
}

.countdown div{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    padding: 0.6rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0.3rem;
    opacity: 0.7;
    background-color: rgba(145, 139, 139, 0.253);
}

@media (max-width: 568px) {
    .container-inner h1 {
        font-size: 1.5rem;

    }
    .countdown {
        font-size: 1.5rem;
        flex-direction: column;
    }
}